body {
	margin: 0;
	padding: 0;
}

.navbar-default {
	background-color:#CCC;
	border: none;
	border-radius: 0;
	color:#000;
}

.navbar-brand {
	background-color: #000;
}

.navbar-nav li a:hover {
	text-decoration:underline;
}

.navbar-toggle {
	background-color: #333;
}

.nav {
	text-align:center;
	width:auto;
	
}

.container-fluid {
	margin: 0;
	padding: 0;
}
 
 
 /* TOP SECTION WITH NAME */
.top {
	text-align:center;
	color:#FFF;
	background-color:#0F5386;
	padding: 0;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 6px;
}

.top h1 {
	font-family: 'Arizonia', cursive;
	font-size: 40px;
}

.top h4 {
	color: #FFF;
}