body {
	margin: 0;
	padding: 0;
}

.navbar-default {
	background-color:#999;
	border: none;
	border-radius: 0;
	color:#000;
}

.top h1 {
	font-family: 'Arizonia', cursive;
	font-size: 40px;
}

.navbar-brand {
	background-color: #000;
}

.navbar-nav li a:hover {
	text-decoration:underline;
}

.navbar {
	background-color:#CCC;
}

.navbar-toggle {
	background-color: #333;
}

.nav {
	text-align:center;
	width:auto;
	
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.top {
	text-align:center;
	color:#666;
	background-color:#fff;
	padding: 0;
}

.top h4 {
	color: #000;
}